* {
    bg-col:  #1d2021;
    bg-col-light: #282828;
    border-col: #504945;
    selected-col: #3c3836;
    blue: #458588;
    fg-col: #ebdbb2;
    fg-col2: #ebdbb2;
    grey: #928374;
    width: 600;
    selected: #ebdbb2;
    red: #fb4934;
    green: #98971a;
    empty: #3c3836;
    inactive: #928374;
}
